body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0C322B;
}

.title {
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 8rem;
}

.productos-carousel {
    flex-wrap: wrap;
    display: flex;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
}

.producto {
    width: 30%;
    border: 1px solid red;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #fff;
    -webkit-box-shadow: 11px 18px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 18px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 11px 18px 20px 0px rgba(0, 0, 0, 0.75);
}

.producto:hover {
    background-color: #f0f0f0;
}

.producto img {
    max-width: 8rem;
    border-radius: 8px;
}

.contact-btn {
    width: 8rem;
    height: 3rem;
    background-color: #33D8B8;
    border: 0.2rem solid #C0EEE2;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    color: black;
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
}

.contact-btn :hover {
    background-color: #0C322B;
}

.volver-btn {
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem 3rem;
}