body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/* //--------------Filtro---------------- */


.developer-filter {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #CCCCCC;
    width: 250px;
}


.filter-section {
    margin-bottom: 20px;
}

.filter-section h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.filter-options label {
    display: block;
    margin-bottom: 5px;
}

.filter-options input {
    margin-right: 5px;
}

.filter-options input[type="text"] {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 10px;
}

#filterButton {
    padding: 12px;
    font-size: 16px;
    border: none;
    background-color: #0C322B;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

/*-------------------------- Información web ---------------------*/
.info-web {
    width: calc(100% - 250px - 40px);
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
    float: left;
}

.info-web h2,
.info-web p {
    text-align: left;
    margin-left: 20px;
}

h2 {
    padding-top: 60px;
    color: #0C322B;
}

.images-container {
    display: flex;
    align-items: flex-end;
    top: 70px;
    right: 20px;
    float: right;
}


.images-container img {
    width: 200px;
    height: auto;
}

.img-boy {
    padding-top: 20px;
}

.img-girl {
    padding-bottom: 40px;
}




/* //-------Footer---------------------- */

.container-footer {
    background-color: #0C322B;
    color: #fff;
    text-align: center;
    padding: 40px;
    position: relative;
    width: 100%;
    /* Hacer que el footer ocupe el 100% del ancho */
    box-sizing: border-box;
}

.footer-logo {
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    max-width: 500px;
    margin-top: -3.5px;
    margin-left: -50px;
}

.terms-link {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    margin: 200px;
}

.contenido-footer {
    margin: 0 auto;
    max-width: 1400px;
}

.social-icons {
    display: inline-block;
    position: absolute;

    top: 48%;
    transform: translateY(-50%);
}

.social-icons a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}


.logo {
    height: 30px;
    width: 30px;
    padding: 10px;
}

.logo_grande {
    height: 35px;
    width: 35px;
    padding: 8px
}